*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    zoom: 100%;
}

/*Início Nav Menu*/
body{
    padding-bottom: 30vh;
    position: relative;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.menu-btn {
    margin: 85px;
}

.div-image{
    background-color: #26B1E2;
    height: 50px;
    display: flex;
    justify-content: center;
}

.menu a{
    display: flex;
    text-decoration: none;
    color: white;
    height: 35px;
    align-items: center;
}

.menu a:hover{
    text-decoration: none;
    background-color: #717171;
    height: 35px;
}

.logo{
    height: 50px;
}

.divider{
    background-color: white;
    width: 2px;
    height: 31px;
    margin-top: 2px;
}
/*Fim NavMenu*/

/*Início main*/
h1{
    color:#26B1E2;
    font-weight: 600;
}

h2{
    color:#26B1E2;
    font-weight: 50;
    margin-bottom: 20px;
    font-weight: 400;
}

h4{
    color: #BEC0E9;
    font-weight: 100;
}

.btn-3 {
    padding: 10px 12px;
    width: 90px;
    color: #9747FF;
    background: transparent;
    border: 1px solid #9747FF;
    border-radius: 15px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-3:hover {
    background: #BCBCBC;
    transition: 0.5s;
}

.divider-outros-eventos{
    background-color: #26B1E2;
    width: 100%;
    height: 3px;
}

.outros-eventos{
    margin-top: 20px;
    margin-left: 50px; 
}

main{
    margin-top: 40px;
    display: flex;
}

.textos{
    margin-left: 50px;
}

.informacoes{
    margin-top: 30px;
}

.programacao{
    margin-top: 30px;
}

.atencao{
    margin-top: 30px;
}

.container-programacao{
    display: flex;
}

.cards{
    display: flex;
    justify-content: center;
}

.geral{
    width: 100%;
}

/*Inicio CARD*/
.container-card{
    margin-left: 50px;
    border: 1px solid #80D6F4;
    border-radius: 10px;
    background-color: #80D6F4;
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 5px black ;
    margin-bottom: 50px;
}

.container-card a{
    text-decoration: none;
}
.textosuperior-card{
    font-size: 14px;
    padding: 10px;
    color: white;
    text-align: center;
}


.imagem-card{
    width: 100%;
    height: 70%;
}
.textoinferior-card{
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 2px;
}

.container-card img{
    width: 100%;
    height: 70%;
}

/*Fim main*/

/*Início Footer*/
footer{
    color: white;
    display: flex;
    background-color: #26B1E2;
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
    height: 30vh;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h3{
    margin-top: 25px;
    margin-bottom: 25px;
}

#direito{
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 1%;
    font-weight: 50;
}

.documentos-footer{
    position: relative;
}

.contatos-footer{
    display: block;
    justify-content: center;
}

.solucoes-acessibilidade-footer{
    position: relative;
}

.tag-a-solucoes{
    text-decoration: underline;
}

#direito{
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 1%;
    font-weight: 50;
}

.documentos-footer{
    position: relative;
    left: 10%;
}

.contatos-footer{
    display: block;
    justify-content: center;
}

.solucoes-acessibilidade-footer{
    position: relative;
    left: 65%;
}

.tag-a-solucoes{
    text-decoration: underline;
}
/*Fim Footer*/