footer{
    color: white;
    display: flex;
    background-color: #26B1E2;
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
    height: 20vh;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h3{
    margin-top: 25px;
    margin-bottom: 25px;
}

#direito{
    display: flex;
    position: fixed;
    bottom: 0%;
    font-weight: 50;
}

.documentos-footer{
    position: relative;
    left: 10%;
}

.contatos-footer{
    display: block;
    justify-content: center;
}

.solucoes-acessibilidade-footer{
    position: relative;
    left: 65%;
}

.tag-a-solucoes{
    text-decoration: underline;
}
