*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    zoom: 100%;
}


/* Inicio Nav Menu */
.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 50px;
}

.menu-btn {
    margin: 90px;
}

.div-image{
    background-color: #26B1E2;
    height: 50px;
    display: flex;
    justify-content: center;
}

.menu a{
    display: flex;
    text-decoration: none;
    color: white;
    height: 35px;
    align-items: center;
}

.menu a:hover{
    text-decoration: none;
    background-color: #717171;
    height: 35px;
}

.logo{
    height: 50px;
}

.divider{
    background-color: white;
    width: 2px;
    height: 31px;
    margin-top: 2px;
}
/* Final Nav Menu */

/*Início main*/
body{
    background-color: #F2F1F1;
    padding-bottom: 30vh;
    position: relative;
}

h2{
    color: #0EA9DF;
}

.primeira-parte{
    display: flex;
}

.titulo-solucoes{
   position: absolute;
}

.titulo-solucoes p{
    font-weight: 50;
    position: relative;
    justify-content: right;
}

.div-image-cego{
    justify-content: right;
    display: flex;
    right: 5%;
    position: absolute;
}

.primeira-parte{
    display: flex;
}

.primeira-parte h1{
    color: #26B1E2;
}
.titulo-solucoes{
   position: absolute;
}

.titulo-solucoes p{
    font-weight: 50;
    position: relative;
    justify-content: right;
}

.div-image-cego{
    justify-content: right;
    display: flex;
    right: 5%;
    position: absolute;
}

.segunda-parte{
display: flex;
padding-bottom: 100px;

}

.texto-solucao  h3{
    
    position: relative;
    justify-content: right;
    margin-bottom: 10px 5px;
}

.image-braile{
    display: flex;
    justify-content: right;
    right: 5%;
    position: absolute;
}

.botao1{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.btn-href{
    text-decoration: none;
}

.link-pai h4{
    color: #26B1E2;
}

.links-soft{
    padding-bottom: 50px;
}

.btn-primary {
    padding: 8px 100px;
    color: #F2F1F1;
    background: #26B1E2;
    border: 2px solid #26B1E2;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    justify-content: center;

}

.btn-primary:hover {
    background: #006E94;
    color: #fff;
    border-color: #006E94;
    transition: 0.5s;
}

.btn-secondary {
    padding: 8px 20px;
    width: 130px;
    color: #9747FF;
    background: #F2F1F1;
    border: 2px solid #9747FF;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    justify-content: center;
}

.btn-secondary:hover {
    background: #BCBCBC;
    transition: 0.5s;
}

main{
    margin-left: 50px;
}
/*Fim main*/

/*Início Footer*/
footer{
    color: white;
    display: flex;
    background-color: #26B1E2;
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
    height: 30vh;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h3{
    margin-top: 25px;
    margin-bottom: 25px;
}

#direito{
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 1%;
    font-weight: 50;
}

.documentos-footer{
    position: relative;
}

.contatos-footer{
    display: block;
    justify-content: center;
}

.solucoes-acessibilidade-footer{
    position: relative;
}

.tag-a-solucoes{
    text-decoration: underline;
}
/* Fim do Footer */